<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.AssetTypeLandMapper">

  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.AssetTypeLand">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="land_certificate" jdbcType="VARCHAR" property="landCertificate" />
	<result column="rpi_id" jdbcType="BIGINT" property="rpiId" />
	<result column="affiliation" jdbcType="VARCHAR" property="affiliation" />
	<result column="address" jdbcType="VARCHAR" property="address" />
	<result column="construction_area" jdbcType="VARCHAR" property="constructionArea" />
	<result column="value" jdbcType="VARCHAR" property="value" />
	<result column="financing_situation" jdbcType="INTEGER" property="financingSituation" />
	<result column="whether_co_owner" jdbcType="INTEGER" property="whetherCoOwner" />
	<result column="co_owner_name" jdbcType="VARCHAR" property="coOwnerName" />
	<result column="whether_lease" jdbcType="INTEGER" property="whetherLease" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
	<result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  
  <insert id="add" parameterType="com.louis.kitty.admin.model.AssetTypeLand">
    insert into asset_type_land
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="landCertificate != null">
        land_certificate,
      </if>
      <if test="rpiId != null">
        rpi_id,
      </if>
      <if test="affiliation != null">
        affiliation,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="constructionArea != null">
        construction_area,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="financingSituation != null">
        financing_situation,
      </if>
      <if test="whetherCoOwner != null">
        whether_co_owner,
      </if>
      <if test="coOwnerName != null">
        co_owner_name,
      </if>
      <if test="whetherLease != null">
        whether_lease,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="landCertificate != null">
        #{landCertificate,jdbcType=VARCHAR},
      </if>
      <if test="rpiId != null">
        #{rpiId,jdbcType=BIGINT},
      </if>
      <if test="affiliation != null">
        #{affiliation,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="constructionArea != null">
        #{constructionArea,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="financingSituation != null">
        #{financingSituation,jdbcType=INTEGER},
      </if>
      <if test="whetherCoOwner != null">
        #{whetherCoOwner,jdbcType=INTEGER},
      </if>
      <if test="coOwnerName != null">
        #{coOwnerName,jdbcType=VARCHAR},
      </if>
      <if test="whetherLease != null">
        #{whetherLease,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from asset_type_land
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.louis.kitty.admin.model.AssetTypeLand">
    update asset_type_land
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="landCertificate != null">
        land_certificate = #{landCertificate,jdbcType=VARCHAR},
      </if>
      <if test="rpiId != null">
        rpi_id = #{rpiId,jdbcType=BIGINT},
      </if>
      <if test="affiliation != null">
        affiliation = #{affiliation,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="constructionArea != null">
        construction_area = #{constructionArea,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="financingSituation != null">
        financing_situation = #{financingSituation,jdbcType=INTEGER},
      </if>
      <if test="whetherCoOwner != null">
        whether_co_owner = #{whetherCoOwner,jdbcType=INTEGER},
      </if>
      <if test="coOwnerName != null">
        co_owner_name = #{coOwnerName,jdbcType=VARCHAR},
      </if>
      <if test="whetherLease != null">
        whether_lease = #{whetherLease,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from asset_type_land
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from asset_type_land
  </select>

  <select id="findByRpiId" resultMap="BaseResultMap">
    select * from asset_type_land where rpi_id = #{rpiId,jdbcType=BIGINT}
  </select>
  
</mapper>