<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.DocMetaMapper">

  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.DocMeta">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="origin_name" jdbcType="VARCHAR" property="originName" />
	<result column="new_name" jdbcType="VARCHAR" property="newName" />
	<result column="type" jdbcType="VARCHAR" property="type" />
	<result column="size" jdbcType="BIGINT" property="size" />
	<result column="path" jdbcType="VARCHAR" property="path" />
	<result column="url" jdbcType="VARCHAR" property="url" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  
  <insert id="add" parameterType="com.louis.kitty.admin.model.DocMeta" useGeneratedKeys="true" keyProperty="id">
    insert into doc_meta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="originName != null">
        origin_name,
      </if>
      <if test="newName != null">
        new_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="originName != null">
        #{originName,jdbcType=VARCHAR},
      </if>
      <if test="newName != null">
        #{newName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

    <delete id="delete" parameterType="java.lang.Long">
    delete from doc_meta
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.louis.kitty.admin.model.DocMeta">
    update doc_meta
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="originName != null">
        origin_name = #{originName,jdbcType=VARCHAR},
      </if>
      <if test="newName != null">
        new_name = #{newName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from doc_meta
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from doc_meta
  </select>
  
   <select id="findByBasisId" resultMap="BaseResultMap">
        select dm.id,dm.origin_name,dm.new_name,dm.type,dm.size,dm.path,dm.url,dm.create_time,dm.last_update_time
        from doc_meta dm
        inner join group_photo gp 
        on dm.id = gp.doc_meta_id
        where gp.loan_basis_id =  #{loanBasisId,jdbcType=BIGINT}
        order by dm.create_time desc
    </select>
  
  
  
</mapper>