<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.LoanBasisMapper">

  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.LoanBasis">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="guarantee_method" jdbcType="VARCHAR" property="guaranteeMethod" />
	<result column="loan_type" jdbcType="BIGINT" property="loanType" />
	<result column="application_matters" jdbcType="INTEGER" property="applicationMatters" />
	<result column="borrower" jdbcType="VARCHAR" property="borrower" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
	<result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  
 <resultMap id="BasePageResultMap" type="com.louis.kitty.admin.dto.LoanPageDto">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="borrower" jdbcType="VARCHAR" property="borrower" />
	<result column="loan_type" jdbcType="BIGINT" property="loanType" />
	<result column="status" jdbcType="BIGINT" property="status" />
	<result column="application_matters" jdbcType="INTEGER" property="applicationMatters" />
	<result column="loan_date" jdbcType="TIMESTAMP" property="loanDate" />
	<result column="application_amount" jdbcType="DECIMAL" property="applicationAmount" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="application_period" jdbcType="VARCHAR" property="applicationPeriod" />
  </resultMap>
  
  <insert id="add" parameterType="com.louis.kitty.admin.model.LoanBasis" useGeneratedKeys="true" keyProperty="id">
    insert into loan_basis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="guaranteeMethod != null">
        guarantee_method,
      </if>
      <if test="loanType != null">
        loan_type,
      </if>
      <if test="applicationMatters != null">
        application_matters,
      </if>
      <if test="borrower != null">
        borrower,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="guaranteeMethod != null">
        #{guaranteeMethod,jdbcType=VARCHAR},
      </if>
      <if test="loanType != null">
        #{loanType,jdbcType=BIGINT},
      </if>
      <if test="applicationMatters != null">
        #{applicationMatters,jdbcType=INTEGER},
      </if>
      <if test="borrower != null">
        #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from loan_basis
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.louis.kitty.admin.model.LoanBasis">
    update loan_basis
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="guaranteeMethod != null">
        guarantee_method = #{guaranteeMethod,jdbcType=VARCHAR},
      </if>
      <if test="loanType != null">
        loan_type = #{loanType,jdbcType=BIGINT},
      </if>
      <if test="applicationMatters != null">
        application_matters = #{applicationMatters,jdbcType=INTEGER},
      </if>
      <if test="borrower != null">
        borrower = #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from loan_basis
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from loan_basis
  </select>
  
  <select id="findPageByBorrowerAndStatus"  parameterType="com.louis.kitty.admin.model.LoanBasis" resultMap="BasePageResultMap">
    select lb.id,lb.create_time,lb.status,lb.loan_type,lb.application_matters,lb.borrower,
    lbi.application_period,lbi.application_amount,ci.loan_date from loan_basis lb
    left join loan_business_information lbi 
    on lb.id = lbi.loan_basis_id
    left join contract_information ci
    on lb.id = ci.loan_basis_id
    where 1=1
    <if test="borrower != null">
    	and lb.borrower  = #{borrower,jdbcType=VARCHAR}
     </if>
     <if test="status >0">
    	and lb.status = #{status,jdbcType=BIGINT}
     </if>
     order by lb.create_time 
  </select>
  
</mapper>