<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.LoanBasisMapper">

  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.LoanBasis">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="guarantee_method" jdbcType="VARCHAR" property="guaranteeMethod" />
	<result column="loan_type" jdbcType="BIGINT" property="loanType" />
	<result column="status" jdbcType="BIGINT" property="status" />
	<result column="application_matters" jdbcType="INTEGER" property="applicationMatters" />
	<result column="borrower" jdbcType="VARCHAR" property="borrower" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
	<result column="del_flag" jdbcType="TINYINT" property="delFlag" />

      <result column="customer_type" jdbcType="INTEGER" property="customerType" />
      <result column="private_apply_type" jdbcType="INTEGER" property="privateApplyType" />
      <result column="top_quota_repeat_credit_flag" jdbcType="INTEGER" property="topQuotaRepeatCreditFlag" />
  </resultMap>
  
 <resultMap id="BasePageResultMap" type="com.louis.kitty.admin.dto.LoanPageDto">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="borrower" jdbcType="VARCHAR" property="borrower" />
	<result column="loan_type" jdbcType="BIGINT" property="loanType" />
	<result column="status" jdbcType="BIGINT" property="status" />
	<result column="application_matters" jdbcType="INTEGER" property="applicationMatters" />
	<result column="loan_date" jdbcType="TIMESTAMP" property="loanDate" />
	<result column="application_amount" jdbcType="DECIMAL" property="applicationAmount" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="application_period" jdbcType="VARCHAR" property="applicationPeriod" />
	<result column="guarantee_method" jdbcType="VARCHAR" property="guaranteeMethod" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
  </resultMap>
  
  <!-- 抵押物引用 -->
   <resultMap id="BaseHousLandResultMap" type="com.louis.kitty.admin.dto.HousingLandDto">
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="property_certificate_number" jdbcType="VARCHAR" property="propertyCertificateNumber" />
	<result column="whether_ownership_certificates" jdbcType="VARCHAR" property="whetherOwnershipCertificates" />
	<result column="deed" jdbcType="VARCHAR" property="deed" />
	<result column="land_certificate" jdbcType="VARCHAR" property="landCertificate" />
	<result column="namehouses" jdbcType="VARCHAR" property="namehouses" />
	<result column="affiliation" jdbcType="VARCHAR" property="affiliation" />
	<result column="address" jdbcType="VARCHAR" property="address" />
	<result column="construction_area" jdbcType="VARCHAR" property="constructionArea" />
	<result column="value" jdbcType="VARCHAR" property="value" />
	<result column="financing_situation" jdbcType="VARCHAR" property="financingSituation" />
	<result column="whether_co_owner" jdbcType="VARCHAR" property="whetherCoowner" />
	<result column="co_owner_name" jdbcType="VARCHAR" property="coownerName" />
	<result column="affiliationLand" jdbcType="VARCHAR" property="affiliationLand" />
	<result column="addressLand" jdbcType="VARCHAR" property="addressLand" />
	<result column="constructionAreaLand" jdbcType="VARCHAR" property="constructionAreaLand" />
	<result column="addressLand" jdbcType="VARCHAR" property="addressLand" />
	<result column="constructionAreaLand" jdbcType="VARCHAR" property="constructionAreaLand" />
	<result column="valueLand" jdbcType="VARCHAR" property="valueLand" />
	<result column="whether_lease" jdbcType="VARCHAR" property="whetherLease" />
	<result column="whetherCoownerLand" jdbcType="VARCHAR" property="whetherCoownerLand" />
	<result column="coownerNameLand" jdbcType="VARCHAR" property="coownerNameLand" />
	<result column="typeHous" jdbcType="VARCHAR" property="typeHous" />
	<result column="typeLand" jdbcType="VARCHAR" property="typeLand" />
	<result column="nameLand" jdbcType="VARCHAR" property="nameLand" />
	<result column="status" jdbcType="BIGINT" property="status" />
	<result column="landTypeCertificate" jdbcType="VARCHAR" property="landTypeCertificate" />
	<result column="financingSituationLand" jdbcType="VARCHAR" property="financingSituationLand" />
	<result column="whetherLeaseLand" jdbcType="VARCHAR" property="whetherLeaseLand" />
	
  </resultMap>
  
  <insert id="add" parameterType="com.louis.kitty.admin.model.LoanBasis" useGeneratedKeys="true" keyProperty="id">
    insert into loan_basis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="guaranteeMethod != null">
        guarantee_method,
      </if>
      <if test="loanType != null">
        loan_type,
      </if>
      <if test="applicationMatters != null">
        application_matters,
      </if>
      <if test="borrower != null">
        borrower,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
       <if test="status != null">
        status,
      </if>
        <if test="customerType != null">
            customer_type,
        </if>
        <if test="privateApplyType != null">
            private_apply_type,
        </if>
        <if test="topQuotaRepeatCreditFlag != null">
            top_quota_repeat_credit_flag,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="guaranteeMethod != null">
        #{guaranteeMethod,jdbcType=VARCHAR},
      </if>
      <if test="loanType != null">
        #{loanType,jdbcType=BIGINT},
      </if>
      <if test="applicationMatters != null">
        #{applicationMatters,jdbcType=INTEGER},
      </if>
      <if test="borrower != null">
        #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
        <if test="customerType != null">
            #{customerType,jdbcType=INTEGER},
        </if>
        <if test="privateApplyType != null">
            #{privateApplyType,jdbcType=INTEGER},
        </if>
        <if test="topQuotaRepeatCreditFlag != null">
            #{topQuotaRepeatCreditFlag,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from loan_basis
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.louis.kitty.admin.model.LoanBasis">
    update loan_basis
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="guaranteeMethod != null">
        guarantee_method = #{guaranteeMethod,jdbcType=VARCHAR},
      </if>
      <if test="loanType != null">
        loan_type = #{loanType,jdbcType=BIGINT},
      </if>
       <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="applicationMatters != null">
        application_matters = #{applicationMatters,jdbcType=INTEGER},
      </if>
      <if test="borrower != null">
        borrower = #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
        <if test="customerType != null">
            customer_type = #{customerType,jdbcType=INTEGER},
        </if>
        <if test="privateApplyType != null">
            private_apply_type = #{privateApplyType,jdbcType=INTEGER},
        </if>
        <if test="topQuotaRepeatCreditFlag != null">
            top_quota_repeat_credit_flag = #{topQuotaRepeatCreditFlag,jdbcType=INTEGER},
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from loan_basis
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from loan_basis
  </select>
  
  <select id="findPageByBorrowerAndStatus"  parameterType="com.louis.kitty.admin.model.LoanBasis" resultMap="BasePageResultMap">
    select lb.id,lb.create_time,lb.guarantee_method,lb.create_by,lb.status,lb.loan_type,lb.application_matters,lb.borrower,lb.customer_type,lb.private_apply_type,lb.top_quota_repeat_credit_flag
    from loan_basis lb  where 1=1
    <if test="borrower != null and borrower != ''">
    	and lb.borrower  LIKE CONCAT('%',#{borrower},'%')
     </if>
     order by lb.create_time desc
  </select>
  
  <!-- 根据基础id获取 引用房产 和土地信息 -->
  <select id="findByLoanBasisIdList" parameterType="java.lang.Long" resultMap="BaseHousLandResultMap">
  SELECT * FROM(
	(SELECT '1' AS TYPE,rpi.name,ath.id as typeHous,'' AS typeLand,ath.property_certificate_number , ath.whether_ownership_certificates,ath.deed,
	ath.land_certificate,ath.name namehouses,ath.affiliation,ath.address,ath.construction_area,ath.value,
	ath.financing_situation,ath.whether_co_owner,ath.co_owner_name,
	'' AS affiliationLand,'' AS addressLand,'' AS constructionAreaLand,
	'' AS valueLand,'' AS financingSituationLand,'' AS whetherCoownerLand,
	'' AS coownerNameLand,ath.whether_lease AS whether_lease,'' AS whetherLeaseLand,'' AS nameLand,'' AS landTypeCertificate
	 FROM asset_type_houses ath LEFT JOIN related_personnel_information rpi ON ath.`rpi_id`=rpi.`id` where rpi.`loan_basis_id`=#{loanBasisId,jdbcType=BIGINT} and ath.del_flag='0') 
	UNION ALL 
	(SELECT '2' AS TYPE,rpi.name,'' AS typeHous,atl.id as typeLand,'' AS property_certificate_number ,'' AS whether_ownership_certificates,'' AS deed,
	'' AS land_certificate,'' AS namehouses,'' AS affiliation,'' AS address,'' AS construction_area,'' AS VALUE,
	'' AS financing_situation,'' AS whether_co_owner,'' AS co_owner_name,
	atl.affiliation affiliationLand,atl.address addressLand,atl.construction_area constructionAreaLand,
	atl.value valueLand,atl.financing_situation financingSituationLand,atl.whether_co_owner whetherCoownerLand,
	atl.co_owner_name coownerNameLand,atl.whether_lease,atl.whether_lease AS whetherLeaseLand,atl.name nameLand,atl.land_certificate landTypeCertificate
	 FROM asset_type_land atl LEFT JOIN related_personnel_information rpi ON atl.`rpi_id`=rpi.`id` where rpi.`loan_basis_id`=#{loanBasisId,jdbcType=BIGINT} and atl.del_flag='0') 
	) AS a
  </select>
  
</mapper>