<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.OptDocProductMapper">

  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.OptDocProduct">
	<id column="id" jdbcType="BIGINT" property="id" />
	<result column="label" jdbcType="VARCHAR" property="label" />
	<result column="name" jdbcType="VARCHAR" property="name" />
	<result column="status" jdbcType="INTEGER" property="status" />
	<result column="remark" jdbcType="VARCHAR" property="remark" />
	<result column="approve_by" jdbcType="VARCHAR" property="approveBy" />
	<result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
	<result column="approve_des" jdbcType="VARCHAR" property="approveDes" />
	<result column="file_count" jdbcType="INTEGER" property="fileCount" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="create_by" jdbcType="VARCHAR" property="createBy" />
	<result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
	<result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
	<result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  
  <insert id="add" parameterType="com.louis.kitty.admin.model.OptDocProduct">
    insert into opt_doc_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="approveBy != null">
        approve_by,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="approveDes != null">
        approve_des,
      </if>
      <if test="fileCount != null">
        file_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="approveBy != null">
        #{approveBy,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveDes != null">
        #{approveDes,jdbcType=VARCHAR},
      </if>
      <if test="fileCount != null">
        #{fileCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="delete" parameterType="java.lang.Long">
    delete from opt_doc_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <update id="update" parameterType="com.louis.kitty.admin.model.OptDocProduct">
    update opt_doc_product
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="approveBy != null">
        approve_by = #{approveBy,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveDes != null">
        approve_des = #{approveDes,jdbcType=VARCHAR},
      </if>
      <if test="fileCount != null">
        file_count = #{fileCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from opt_doc_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="findPage" resultMap="BaseResultMap">
    select * from opt_doc_product
  </select>
  
</mapper>